.advantages-section {
    position: relative;
    padding: 52px 0 20px;
    
    @media screen and (min-width: $bp-tablet) {
        padding: 88px 0 48px;
    }

    &::before {
        background-image: url('../images/advantages-section-background.png'); 
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        width: 100%;
        height: 1800px;
        top: -60px;
        content: '';

        @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('../images/advantages-section-background@2x.png');
            ;
        }

        @media screen and (min-width: $bp-tablet) {
            top: -50px;
        }  
        
        @media screen and (min-width: $bp-desktop) {
            top: -130px;
        }
    }

    &__forms {
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: space-around;

        @media screen and (min-width: $bp-desktop) {
            gap: 56px;
            flex-direction: row;
            padding: 0 90px;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-basis: calc((100% - 56px) / 3);
        height: 181px;
        max-height: 181px;
        padding: 24px 32px;
        border: 1px solid var(--color-primary-white);
        border-radius: 32px;
        background-color: var(--color-primary-white);
        text-align: center;
        box-shadow: 0px 4px 4px rgba(168, 198, 245, 0.38);
        overflow: hidden;
        z-index: 1;
    }

    &__text {
        color: var(--color-secondary-black);
        line-height: 1.33;
        margin-bottom: 0;
    }

    &__cosmetics-icon {
        fill: var(--color-primary-light);
        flex-shrink: 0;
        margin: 0 auto 12px;

        @media screen and (min-width: $bp-tablet) {
            margin: 0 auto 8px;
        }
    }

    &__icon {
        fill: var(--color-primary-light);
        flex-shrink: 0;
        margin: 0 auto 8px;

        &--limited {
            margin: 0 auto 12px;
        }
    }
}
