.contacts-section {
    padding: 20px 0 0;

    @media screen and (min-width: $bp-tablet) {
            padding: 48px 0 96px;
        }

    &__container {
        display: flex;
        flex-direction: column-reverse;
        gap: 24px;

        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
            gap: 32px;
            padding-left: 20px;
            padding-right: 20px;
        }

        @media screen and (min-width: $bp-desktop) {
            padding-left: 50px;
            padding-right: 50px;
        }
    }

    &__map {
        flex-shrink: 0;
        height: 232px;
        border: none;
        margin: 0 -24px;

        @media screen and (min-width: $bp-tablet) {
            margin: 0 auto;
            width: 320;
            height: auto;
            border-radius: 32px;
            flex-grow: 1;
        }

        @media screen and (min-width: $bp-desktop) {
            width: 605px;
        }
    }

    &__form {
        background-color: var(--color-primary-dark);
        border-radius: 32px;
        width: 100%;
        padding: 42px 24px;
        text-align: center;

        @media screen and (min-width: $bp-tablet) {
            padding: 48px 56px;
            width: 423px;
        }
    }

    &__form-field {
        margin-bottom: 16px;
    }

    &__title {
        font-size: 22px;
        font-weight: 600;
        line-height: 1.18;
        text-align: center;
        color: var(--color-primary-white);
        margin-bottom: 24px;

        @media screen and (min-width: $bp-tablet) {
            margin-bottom: 32px;
        }
    }
}


