.form-terms {
    font-size: 12px;
    line-height: 1.5;
    color: var(--color-secondary-light-grey);
    margin: 0 auto;
    text-align: center;

    &__link {
        color: var(--color-secondary-light-grey);
        text-underline-offset: 3px;
        transition: color 0.2s;

        &:hover {
            color: var(--color-primary-light);
        }
    }
}



