.hero-section {
    position: relative;
    padding: 71px 0 28px 0;
    background-image: linear-gradient(89.38deg,
            #ffffff 30.62%,
            rgba(255, 255, 255, 0.850898) 41.31%,
            rgba(255, 255, 255, 0.193204) 58.65%,
            rgba(255, 255, 255, 0) 72.78%),
        url('../images/hero-section-background.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    overflow: hidden;

    @media screen and (min-width: $bp-tablet) {
        padding: 123px 0 126px 0;
    }

    @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: linear-gradient(89.38deg,
                #ffffff 30.62%,
                rgba(255, 255, 255, 0.850898) 41.31%,
                rgba(255, 255, 255, 0.193204) 58.65%,
                rgba(255, 255, 255, 0) 72.78%),
            url('../images/hero-section-background@2x.jpg');
    }

    &__container {
        width: 100%;
        max-width: 1288px;
        margin: 0 auto;
        padding: 0 24px;

        @media screen and (min-width: $bp-tablet) {
                padding: 0 24px 0 130px;
            }
    }

    &__title-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
        width: 100%;

        @media screen and (min-width: $bp-tablet) {
                /* можливо перероблю */
                display: block;
                height: 408px;
                max-width: 529px;
                max-height: 408px;
                margin: 0;
                text-align: left;
            }
    }

    &__text {
        margin-bottom: 0;
        font-size: 12px;
        line-height: 1.5;

        @media screen and (min-width: $bp-tablet) {
                margin-bottom: 16px;
                font-size: 18px;
                line-height: 100%;
            }
    }

    &__title {
        margin-bottom: 32px;
        text-align: center;
        font-family: 'Play', sans-serif;
        color: var(--color-primary-light);
        font-weight: 700;
        font-size: 54px;
        line-height: 46px;

        @media screen and (min-width: $bp-tablet) {
            margin-bottom: 40px;
            text-align: left;
            font-size: 140px;
            line-height: 114px;
        }
    }

    &__mini-title-container {
        margin: 0 auto;

        @media screen and (min-width: $bp-tablet) {
            width: 238px;
            height: 103px;
            margin: 0;
        }
    }

    &__last-text {
        color: var(--color-secondary-dark-grey);
        font-size: 11px;
        line-height: 1.5;
        margin-bottom: 0;
        text-align: center;

        @media screen and (min-width: $bp-tablet) {
            font-size: 12px;
        }
    }

    &__wave {
        position: absolute;
        z-index: 1;
        bottom: -7px;
        left: 0;
        width: 100%;
        height: 35px;
        line-height: 0;

        @media screen and (min-width: $bp-tablet) {
                height: 100px;
            }
    }

    &__wave-bottom {
        display: block;
        width: 100%;
        height: 100%;     
    }
}














