.mobile-menu {
    position: fixed;
    padding: 16px 20px;
    top: 0;
    right: -360px;
    width: 360px;
    height: 640px;
    z-index: 3;
    background-color: var(--color-primary-white);
    transform: translateX(0);
    transition: transform 0.3s;

    &.is-open {
        transform: translateX(-360px);
    }

    &__btn-close {
        position: absolute;
        top: 16px;
        right: 24px;
        fill: var(--color-primary-dark);
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    &__nav {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__menu {
        display: flex;
        gap: 16px;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 16px;     
    }

    &__icons {
        display: flex;
        gap: 18px;
    }  

    &__icon {
        fill: var(--color-primary-dark);
        transition: fill 0.2s;

        &:hover {
            fill: var(--color-primary-light);
        }
    }

    &__link {
        text-decoration: none;
        line-height: 100%;
        color: var(--color-primary-dark);
        transition: color 0.2s;

        &:hover {
            color: var(--color-primary-light);
            font-weight: 700;
            /* в лекційному макеті прибрали */
        }
    }

    @media screen and (min-width: $bp-tablet) {
        display: none;
    }
}